{
  "trailingComma": "none",
  "singleQuote": true,
  "tabWidth": 4,
  "overrides": [
    {
      "files": ["force-app/**/**/classes/*.cls"]
    },
    {
      "files": "force-app/**/**/lwc/**/*.html",
      "options": { "parser": "lwc" }
    }
  ]
}
# List files or directories below to ignore them when running prettier
# More information: https://prettier.io/docs/en/ignore.html
#

**/staticresources/**
.localdevserver
.sfdx
.vscode

coverage/